.App {
  text-align: center;
}

.links{
  margin-top: 6px;
  display: flex;
  justify-content: space-around;
}

.items-center {
  align-items: center;
}

.cards {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: xx-large;
}

