.App {
  text-align: center;
}

.links{
  margin-top: 6px;
  display: flex;
  justify-content: space-around;
}

.items-center {
  align-items: center;
}

.cards {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: xx-large;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.counters {
  display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    border: black;
}


.table {
    width: fit-content;
    margin-bottom: 70px;
  }

th {
  border-bottom: 1px solid black;
}
  
td {
  border: 1px solid #000000;
}

.owners {
  padding: 3px;
}

.game {
  display: flex;
}

.stats {
  padding: 5px;
}

.social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: space-around;
}
